fastapi
uvicorn
sqlalchemy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
bcrypt==4.0.1
httpx
twilio
authlib
httpx
razorpay
psycopg2-binary
slowapi